extends ../shared/template

block content
  h1 Builder 2.0

  #controls
    input#username(type='text', placeholder='username', autofocus=true)
    a#login(href='#', class='button button-rounded button-flat') Login

  #dashboard

  #forest



block scripts
  script(src='/js/es6/compiled/game.js')
