#user(data-id=user._id.toString())= user.username
  #wood-balance
    h6 Wood Balance:
    #wood= user.wood
  #cash-balance
    h6 Cash Balance:
    #cash= user.cash
a#plant(href='#', class='button button-rounded button-flat-action') Plant Seed
a#getforest(href='#' class='button button-rounded button-flat-primary') Get Forest
