#user: p(data-id=user._id.toString())= user.username
  #wood-balance
    h6 Wood Balance:
    #wood= user.wood.toFixed(2)
  #cash-balance
    h6 Cash Balance:
    #cash= user.cash.toFixed(2)
  a#plant(href='#', class='button button-rounded button-flat-action') Plant Seed
  //a#getforest(href='#' class='button button-rounded button-flat-primary') Get Forest
  #sell-wood
    h6 Sell Wood
    input#wood-amount(type='text', name='amount', placeholder='how much?')
    a#sell(href='#', class='button button-rounded button-flat-caution') Sell Wood
  a#showPossessions(href='#', class='button button-rounded button-flat-primary') Possessions
  a#getForest(href='#', class='button button-rounded button-flat-primary') Forest
  #store
    if(user.isEligibleForAutoGrow)
      h6.youqualify AutoGrow Upgrade
      img.autogrow
      a.purchase(href='#', class='button button-rounded button-flat-highlight') Purchase
    if(user.isEligibleForAutoSeed)
      h6.youqualify AutoSeed Upgrade
      img.autoseed
      a.purchase(href='#', class='button button-rounded button-flat-highlight') Purchase
    if(user.isEligibleForAutoRoot)
      h6.youqualify AutoRoot Upgrade
      img.autoroot
      a.purchase(href='#', class='button button-rounded button-flat-highlight') Purchase
