.tree(data-id=tree._id.toString(), class=tree.classes)
  if(tree.isGrowable || tree.isBeanStalk)
    .height #{Math.floor((tree.height/12)).toFixed(0)}' #{(tree.height%12).toFixed(0)}"
  .controls
    if(tree.isGrowable)
      a.grow(href='#', class='button button-rounded button-flat') Grow
    if(tree.isChoppable)
      a.chop(href='#', class='button button-rounded button-flat-caution') Chop
